@model IEnumerable<ApplicationChart.Models.ListQLQD>
<table id="example" class="table-bordered display nowrap w-100">
    <thead>
        <tr>
            <th class="text-center">MÃ HH</th>
            <th class="text-center">TÊN HH</th>
            <th class="text-center">SỐ LƯỢNG</th>
            <th class="text-center">SỐ HỘP</th>
            <th class="text-center">ĐIỂM TÍCH LŨY</th>

        </tr>
    </thead>
    <tfoot>
        <tr>
            <th class="text-center">MÃ HH</th>
            <th class="text-center">TÊN HH</th>
            <th class="text-center">SỐ LƯỢNG</th>
            <th class="text-center">SỐ HỘP</th>
            <th class="text-center">ĐIỂM TÍCH LŨY</th>
        </tr>
    </tfoot>
    <tbody id="Partialtable">
        @foreach (var i in Model)
        {
            <tr>
                <td>@i.MAHH</td>
                <td>@i.TENHH</td>
                <td class="text-right">@i.SL</td>
                <td class="text-right">@i.HOP</td>
                <td class="text-right">@i.DIEM</td>
            </tr>
        }
    </tbody>
</table>
