@model ApplicationChart.Models.ViewQLDHKD
<div class="row mb-2">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <!-- Default input -->
        <div class="form-group row mb-2">
            <label class="col-sm-3 col-lg-12 col-form-label" for="viewhoten">Họ và Tên</label>
            <div class="col-sm-9 col-lg-12">
                <input readonly value="@Model.hoten" class="form-control" id="viewhoten" type="text" autocomplete="off">
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-6">
        <div class="form-group row mb-2">
            <label class="col-sm-3 col-md-3 col-lg-12 col-form-label" for="viewtaikhoan">Tài khoản</label>
            <div class="col-sm-9 col-md-9 col-lg-12">
                <input readonly type="text" value="@Model.taikhoan" class="form-control" id="viewtaikhoan" placeholder="Tài khoản">
            </div>
        </div>
        <!-- Default input -->
    </div>
    <div class="col-sm-12 col-md-6 col-lg-6">
        <div class="form-group row mb-2">
            <label class="col-sm-3 col-lg-12 col-form-label" for="viewchinhanh">Chi Nhánh</label>
            <div class="col-sm-9 col-lg-12">
                <input readonly type="text" value="@Model.chinhanh" class="form-control" id="viewchinhanh" placeholder="Chi nhánh">
            </div>
        </div>
    </div>
   

</div>
<div class="table-responsive-sm">
    <table id="example1" class="display nowrap table table-hover table-bordered w-100 pt-0 mb-1">
        <thead>
            <tr>
                <th class="text-center text-dark">STT</th>
                <th class="text-center text-dark">Mã khách hàng</th>
                <th class="text-center text-dark">Tên khách hàng</th>
            </tr>
        </thead>
        <tbody>
            @{
                    var count = 1;
                    foreach (var i in Model.khachhang)
                    {
                    <tr>
                        <td class="text-center">@count</td>
                        <td>@i.MAKH</td>
                        <td>@i.DONVI</td>
                    </tr>
                    count = count + 1;
                }
            }
        </tbody>
    </table>
</div>

