@model ApplicationChart.Models.QLKHKD
@{
    ViewBag.Title = "QUẢN LÝ KHÁCH HÀNG KINH DOANH";
    Layout = "~/Views/Shared/Layout1.cshtml";
}

@section styles {
    <link href="~/Content/Datatable.css?version=11" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/OrderStyle.css?version=43">
    @*<link href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet">
        <link href="https://cdn.datatables.net/buttons/1.5.6/css/buttons.dataTables.min.css" rel="stylesheet">*@
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css" />

    <style>
        .bootstrap-select.btn-group .dropdown-toggle .caret {
            right: 10px;
            margin-top: -3px;
        }

        .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
            width: 100% !important;
        }

        span.text {
            font-size: 0.8em;
        }

        .bootstrap-select .dropdown-menu {
            left: auto;
            right: 0;
            width: 100%;
        }

        .selectui .dropdown-menu {
            left: 0;
            right: auto;
        }

        div.dataTables_wrapper {
            width: 100%;
            margin: 0 auto;
        }

        table.dataTable tbody th, table.dataTable tbody td {
            padding: 5px 5px;
            font-size: 11px;
        }
    </style>
}
<div id="heightscreen">
    <div class="w3-card w3-white" style="border-radius:0.25rem">
        <ol class="breadcrumb" style="margin-top:42px;margin-bottom:0px;">
            <li class="breadcrumb-item"><a style="color:#007bff;font-weight:700" href="#">PHÒNG KINH DOANH</a></li>
            <li class="breadcrumb-item active w3-text-black font-weight-normal">QUẢN LÝ KHÁCH HÀNG KINH DOANH</li>
        </ol>
    </div>

    @Html.AntiForgeryToken()
    <div class="w3-content p-1 box mb-2" style="background-color:white;">
        <div class="form-group col-md-12 mb-1 pr-1 pl-1">
            <h5 class="card-title font-weight-bold text-center">HỢP ĐỒNG CHUNG</h5>
        </div>
        <div class="input-group">
            <input id="mahopdong" type="text" class="form-control" placeholder="Điền mã hợp đồng chung...">
            <div class="input-group-append">
                <button id="btnaddhd" class="btn btn-success m-0" type="button">THÊM HỢP ĐỒNG</button>
            </div>
        </div>
        <table id="example1" class="display nowrap table table-hover table-bordered w-100 pt-0 mb-1">
            <!--Table head-->
            <thead>
                <tr>
                    <th class="text-center text-dark">STT</th>
                    <th class="text-center text-dark">Mã hợp đồng</th>
                    <th class="text-center text-dark">Tên hợp đồng</th>
                    <th class="text-center text-dark">Ngày bắt đầu</th>
                    <th class="text-center text-dark">Ngày kết thúc</th>
                    <th class="text-center text-dark">Xóa</th>
                </tr>
            </thead>

            <!--Table head-->
            <!--Table body-->
            <tbody>
                @{
                    var count1 = 1;
                    foreach (var i in Model.hopdong)
                    {
                        <tr>
                            <td class="text-center">@count1</td>
                            <td class="text-center">@i.MAHOPDONG</td>
                            <td>@i.TENHOPDONG</td>
                            <td>@i.ngaybatdau.ToString("dd/MM/yyyy")</td>
                            <td>@i.ngayketthuc.ToString("dd/MM/yyyy")</td>
                            <td class="text-center">
                                <button class="btn btn-sm p-2 btn-danger waves-effect btndelete" type="button">
                                    <i class="fa fa-times pl-1 pr-1"></i>
                                </button>
                            </td>
                        </tr>
                        count1 = count1 + 1;
                    }
                }
            </tbody>
            <!--Table body-->
        </table>

    </div>
    <div class="w3-content p-1 box" style="background-color:white;">
        <div class="form-group col-md-12 mb-1 pr-1 pl-1">
            <h5 class="card-title font-weight-bold text-center">DANH MỤC NGƯỜI DÙNG</h5>
        </div>
        <table id="example" class="display nowrap table table-hover table-bordered w-100 pt-0 mb-1">
            <!--Table head-->
            <thead>
                <tr>
                    <th class="text-center text-dark">STT</th>
                    <th class="text-center text-dark">Tài khoản</th>
                    <th class="text-center text-dark">Họ và Tên</th>
                    <th class="text-center text-dark">Mã CN</th>
                    <th class="text-center text-dark">Xem</th>
                </tr>
            </thead>

            <!--Table head-->
            <!--Table body-->
            <tbody>
                @{
                    var count = 1;
                    foreach (var i in Model.nguoidung)
                    {
                        <tr>
                            <td class="text-center">@count</td>
                            <td class="text-center">@i.taikhoan</td>
                            <td>@i.TBL_DANHMUCNGUOIDUNG.hoten</td>
                            <td>@i.macn</td>
                            <td class="text-center">
                                <div class="dropdown">
                                    <button class="btn btn-sm p-2 btn-primary waves-effect" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fa fa-angle-down pl-1 pr-1"></i>
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu2">
                                        <button class="dropdown-item btnxem" type="button">Xem</button>
                                        <button class="dropdown-item btnedit" type="button">Thay đổi</button>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        count = count + 1;
                    }
                }
            </tbody>
            <!--Table body-->
        </table>

    </div>
</div>
<div class="modal fade" id="ModalView" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered scrollable-auto-y mx-auto" style="max-width:800px" role="document">
        <div class="modal-content">
            <div class="modal-header p-2">
                <h6 class="modal-title font-weight-bold p-2">THÔNG TIN PHÂN QUYỀN KHÁCH HÀNG</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="card">
                <div id="partialview" class="card-body p-3">

                </div>
                <div class="card-footer modal-footer p-2">
                    <button type="button" class="btn btn-primary btn-sm transition-3d-hover" data-dismiss="modal">Đóng</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="ModalEdit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered scrollable-auto-y mx-auto" style="max-width:800px" role="document">
        <div class="modal-content">
            <div class="modal-header p-2">
                <h6 class="modal-title font-weight-bold p-2">THAY ĐỔI THÔNG TIN PHÂN QUYỀN KHÁCH HÀNG</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="card">
                <div id="partialedit" class="card-body p-3">

                </div>
                <div class="card-footer modal-footer p-2">

                    <button id="btnluukh" type="button" class="btn btn-success btn-sm transition-3d-hover mb-0">Thay đổi</button>
                    <button type="button" class="btn btn-danger btn-sm transition-3d-hover mb-0" data-dismiss="modal">Đóng</button>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts {
    @*<script type="text/javascript" src="~/Scripts/bootstrap-datepicker.js?version=1"></script>*@
    <script src="~/Scripts/bootstrap-select.js?version=3"></script>
    <script src="~/Content/Order/js/lib/datatables/datatables.min.js?version=6"></script>
    @*<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/buttons/1.5.6/js/dataTables.buttons.min.js"></script>
        <script src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.flash.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
        <script src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.html5.min.js"></script>
        <script src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.print.min.js"></script>*@
    <script>
        function CovertDatetime(i) {
            var milli = i.replace(/\/Date\((-?\d+)\)\//, '$1');
            var d = new Date(parseInt(milli));
            var dformat = ("00" + d.getDate()).slice(-2) + "/" + ("00" + (d.getMonth() + 1)).slice(-2) + "/" + d.getFullYear() + " " + ("00" + d.getHours()).slice(-2) + ":" + ("00" + d.getMinutes()).slice(-2);
            return dformat;   // The function returns the product of p1 and p2
        }
        $(document).ready(function () {
            $("#example").dataTable({});
            $("#example1").dataTable({});
            $("#btnaddhd").click(function () {
                if ($("#mahopdong").val() == "") {
                    toastr.options = {
                        "closeButton": true,
                        "debug": false,
                        "newestOnTop": true,
                        "progressBar": true,
                        "positionClass": "toast-top-right",
                        "preventDuplicates": false,
                        "onclick": null,
                        "showDuration": "300",
                        "hideDuration": "1000",
                        "timeOut": "5000",
                        "extendedTimeOut": "1000",
                        "showEasing": "swing",
                        "hideEasing": "linear",
                        "showMethod": "fadeIn",
                        "hideMethod": "fadeOut"
                    }
                    Command: toastr["error"]("Bạn chưa điền mã hợp đồng", "Lỗi")
                }
                else {
                    $.confirm({
                        title: '<b>THÔNG BÁO</b>',
                        content: 'Bạn có chắc chắn muốn thêm mã hợp đồng này ?',
                        buttons: {
                            confirm: {
                                text: 'Chắc chắn',
                                btnClass: 'btn-success',
                                keys: ['enter'],
                                action: function () {
                                    $.ajax({
                                        type: "POST",
                                        url: "@Url.Action("Addhopdongchungkd", "Order")",
                                        datatype: 'json',
                                        contentType: "application/json",
                                        data: '{mahd: ' + JSON.stringify($("#mahopdong").val()) + '}',
                                        error: function () {
                                            toastr.options = {
                                                "closeButton": true,
                                                "debug": false,
                                                "newestOnTop": true,
                                                "progressBar": true,
                                                "positionClass": "toast-top-right",
                                                "preventDuplicates": false,
                                                "onclick": null,
                                                "showDuration": "300",
                                                "hideDuration": "1000",
                                                "timeOut": "5000",
                                                "extendedTimeOut": "1000",
                                                "showEasing": "swing",
                                                "hideEasing": "linear",
                                                "showMethod": "fadeIn",
                                                "hideMethod": "fadeOut"
                                            }
                                            Command: toastr["warning"]("Vui lòng thử lại", "Lỗi")
                                        },
                                        success: function (data) {
                                            toastr.options = {
                                                "closeButton": true,
                                                "debug": false,
                                                "newestOnTop": true,
                                                "progressBar": true,
                                                "positionClass": "toast-top-right",
                                                "preventDuplicates": false,
                                                "onclick": null,
                                                "showDuration": "300",
                                                "hideDuration": "1000",
                                                "timeOut": "5000",
                                                "extendedTimeOut": "1000",
                                                "showEasing": "swing",
                                                "hideEasing": "linear",
                                                "showMethod": "fadeIn",
                                                "hideMethod": "fadeOut"
                                            }
                                            Command: toastr["success"]("Đã thêm thành công mã hợp đồng", "Thành công")
                                            setTimeout(function () {
                                                window.location.reload();
                                            }, 1000);
                                        },
                                        timeout: 5000,
                                    });
                                }
                            },
                            cancel: {
                                text: 'Hủy',
                                btnClass: 'btn-danger',
                                keys: ['esc'],
                                action: function () {

                                }
                            }
                        }
                    });
                }
            });
            $("#example1").on("click", ".btndelete", function () {
                var hang = $(this).closest('tr');
                var id = hang.find('td:eq(1)').text();
                $.confirm({
                    title: '<b>THÔNG BÁO</b>',
                    content: 'Bạn có chắc chắn muốn xóa hợp đồng này ra khỏi danh mục hợp đồng chung?',
                    buttons: {
                        confirm: {
                            text: 'Chắc chắn',
                            btnClass: 'btn-success',
                            keys: ['enter'],
                            action: function () {
                                $.ajax({
                                    type: "POST",
                                    url: "@Url.Action("Deletehopdongchungkd", "Order")",
                                    datatype: 'json',
                                    contentType: "application/json",
                                    data: '{mahd: ' + JSON.stringify(id) + '}',
                                    error: function () {
                                        toastr.options = {
                                            "closeButton": true,
                                            "debug": false,
                                            "newestOnTop": true,
                                            "progressBar": true,
                                            "positionClass": "toast-top-right",
                                            "preventDuplicates": false,
                                            "onclick": null,
                                            "showDuration": "300",
                                            "hideDuration": "1000",
                                            "timeOut": "5000",
                                            "extendedTimeOut": "1000",
                                            "showEasing": "swing",
                                            "hideEasing": "linear",
                                            "showMethod": "fadeIn",
                                            "hideMethod": "fadeOut"
                                        }
                                        Command: toastr["warning"]("Vui lòng thử lại", "Lỗi")
                                    },
                                    success: function (data) {
                                        toastr.options = {
                                            "closeButton": true,
                                            "debug": false,
                                            "newestOnTop": true,
                                            "progressBar": true,
                                            "positionClass": "toast-top-right",
                                            "preventDuplicates": false,
                                            "onclick": null,
                                            "showDuration": "300",
                                            "hideDuration": "1000",
                                            "timeOut": "5000",
                                            "extendedTimeOut": "1000",
                                            "showEasing": "swing",
                                            "hideEasing": "linear",
                                            "showMethod": "fadeIn",
                                            "hideMethod": "fadeOut"
                                        }
                                        Command: toastr["success"]("Đã xóa thành công hợp đồng", "Thành công")
                                        hang.remove();
                                    },
                                    timeout: 5000,
                                });
                            }
                        },
                        cancel: {
                            text: 'Hủy',
                            btnClass: 'btn-danger',
                            keys: ['esc'],
                            action: function () {

                            }
                        }
                    }
                });
            });
            $("#example").on("click", ".btnxem", function () {
                var id = $(this).closest('tr').find('td:eq(1)').text();
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("PartialViewQLDHKD", "Order")",
                    datatype: 'json',
                    contentType: "application/json",
                    data: '{taikhoan: ' + JSON.stringify(id) + '}',
                    error: function () {
                        $('#loading').modal('hide')
                        toastr.options = {
                            "closeButton": true,
                            "debug": false,
                            "newestOnTop": true,
                            "progressBar": true,
                            "positionClass": "toast-top-right",
                            "preventDuplicates": false,
                            "onclick": null,
                            "showDuration": "300",
                            "hideDuration": "1000",
                            "timeOut": "5000",
                            "extendedTimeOut": "1000",
                            "showEasing": "swing",
                            "hideEasing": "linear",
                            "showMethod": "fadeIn",
                            "hideMethod": "fadeOut"
                        }
                        Command: toastr["warning"]("Vui lòng thử lại", "Lỗi")
                    },
                    success: function (data) {

                        $("#partialview").html(data);
                        $('#loading').modal('hide')
                        $("#example1").dataTable({});
                        $('#ModalView').modal({ backdrop: 'static', keyboard: true })
                    },
                    timeout: 5000,
                });
            });
            $("#example").on("click", ".btnedit", function () {
                var id = $(this).closest('tr').find('td:eq(1)').text();
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("PartialEditQLDHKD", "Order")",
                    datatype: 'json',
                    contentType: "application/json",
                    data: '{taikhoan: ' + JSON.stringify(id) + '}',
                    error: function () {
                        $('#loading').modal('hide')
                        toastr.options = {
                            "closeButton": true,
                            "debug": false,
                            "newestOnTop": true,
                            "progressBar": true,
                            "positionClass": "toast-top-right",
                            "preventDuplicates": false,
                            "onclick": null,
                            "showDuration": "300",
                            "hideDuration": "1000",
                            "timeOut": "5000",
                            "extendedTimeOut": "1000",
                            "showEasing": "swing",
                            "hideEasing": "linear",
                            "showMethod": "fadeIn",
                            "hideMethod": "fadeOut"
                        }
                        Command: toastr["warning"]("Vui lòng thử lại", "Lỗi")
                    },
                    success: function (data) {
                        $("#partialedit").html(data);
                        $('#loading').modal('hide')
                        //$("#example2").dataTable({});
                        $('#ModalEdit').modal({ backdrop: 'static', keyboard: true })
                    },
                    timeout: 5000,
                });
            });

            $("#btnluukh").click(function () {
                $.confirm({
                    title: '<b>THÔNG BÁO</b>',
                    content: 'Bạn có chắc chắn muốn lưu lại danh sách khách hàng này ?',
                    buttons: {
                        confirm: {
                            text: 'Chắc chắn',
                            btnClass: 'btn-success',
                            keys: ['enter'],
                            action: function () {
                                var oTbl = $('#example2').DataTable()
                                var rows = oTbl.rows().indexes();
                                var data = oTbl.cells(rows, 0).data().toArray();
                                $.ajax({
                                    type: "POST",
                                    url: "@Url.Action("Editkhachhangkd", "Order")",
                                    datatype: 'json',
                                    contentType: "application/json",
                                    data: '{makh: ' + JSON.stringify(data) + ', taikhoan: ' + JSON.stringify($("#edittaikhoan").val()) + '}',
                                    error: function () {
                                        $('#loading').modal('hide')
                                        toastr.options = {
                                            "closeButton": true,
                                            "debug": false,
                                            "newestOnTop": true,
                                            "progressBar": true,
                                            "positionClass": "toast-top-right",
                                            "preventDuplicates": false,
                                            "onclick": null,
                                            "showDuration": "300",
                                            "hideDuration": "1000",
                                            "timeOut": "5000",
                                            "extendedTimeOut": "1000",
                                            "showEasing": "swing",
                                            "hideEasing": "linear",
                                            "showMethod": "fadeIn",
                                            "hideMethod": "fadeOut"
                                        }
                                        Command: toastr["warning"]("Vui lòng thử lại", "Lỗi")
                                    },
                                    success: function (data) {
                                        $('#loading').modal('hide')

                                        toastr.options = {
                                            "closeButton": true,
                                            "debug": false,
                                            "newestOnTop": true,
                                            "progressBar": true,
                                            "positionClass": "toast-top-right",
                                            "preventDuplicates": false,
                                            "onclick": null,
                                            "showDuration": "300",
                                            "hideDuration": "1000",
                                            "timeOut": "5000",
                                            "extendedTimeOut": "1000",
                                            "showEasing": "swing",
                                            "hideEasing": "linear",
                                            "showMethod": "fadeIn",
                                            "hideMethod": "fadeOut"
                                        }
                                        Command: toastr["success"]("Thay đổi thành công ", "Thông báo")
                                        $('#ModalEdit').modal('hide');
                                    },
                                    timeout: 5000,
                                });
                            }
                        },
                        cancel: {
                            text: 'Hủy',
                            btnClass: 'btn-danger',
                            keys: ['esc'],
                            action: function () {

                            }
                        }
                    }
                });
            });
        });
    </script>
}


