@model IEnumerable<ApplicationChart.Models.Quanlyhanghoa>
@{
    ViewBag.Title = "Quản lý hàng hóa";
    Layout = "~/Views/Shared/Layout1.cshtml";
}
@section styles {
    <link href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/buttons/1.5.6/css/buttons.dataTables.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css" />
    <style>
        .bootstrap-select.btn-group .dropdown-toggle .caret {
            right: 10px;
            margin-top: -3px;
        }

        .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
            width: 100% !important;
        }

        span.text {
            font-size: 0.8em;
        }

        .bootstrap-select .dropdown-menu {
            left: auto;
            right: 0;
            width: 100%;
        }

        .selectui .dropdown-menu {
            left: 0;
            right: auto;
        }

        div.dataTables_wrapper {
            width: 100%;
            margin: 0 auto;
        }

        table.dataTable tbody th, table.dataTable tbody td {
            padding: 5px 5px;
            font-size: 11px;
        }
    </style>
}
@Html.AntiForgeryToken()
<div id="heightscreen">
    <div class="w3-card w3-white" style="border-radius:0.25rem">
        <ol class="breadcrumb" style="margin-top:42px;margin-bottom:0px;">
            <li class="breadcrumb-item"><a style="color:#007bff;font-weight:700" href="#">CRM</a></li>
            <li class="breadcrumb-item active w3-text-black font-weight-normal">QUẢN LÝ HÀNG HÓA</li>
        </ol>
    </div>

    <div class="w3-content w3-padding box p-0 pt-0" style="background-color:white;margin-top:3px;">

        <div class="w3-row">
            <div class="card mb-0">
                <div class="card-body pb-0 pt-1">
                    <div class="form-row" id="PartialResult">
                        <table id="example" class="table-bordered display nowrap w-100">
                            <thead>
                                <tr>
                                    <th class="text-center">MÃ HH</th>
                                    <th class="text-center">TÊN HH</th>
                                    <th class="text-center">HOẠT CHẤT</th>
                                    <th class="text-center">ĐVT 3</th>
                                    <th class="text-center">GIÁ BÁN 3</th>
                                    <th class="text-center">ĐVT 2</th>
                                    <th class="text-center">GIÁ BÁN 2</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th class="text-center">MÃ HH</th>
                                    <th class="text-center">TÊN HH</th>
                                    <th class="text-center">HOẠT CHẤT</th>
                                    <th class="text-center">ĐVT 3</th>
                                    <th class="text-center">GIÁ BÁN 3</th>
                                    <th class="text-center">ĐVT 2</th>
                                    <th class="text-center">GIÁ BÁN 2</th>
                                </tr>
                            </tfoot>
                            <tbody id="Partialtable">
                                @foreach (var i in Model)
                                {
                                    <tr>
                                        <td class="text-center">@i.MAHH</td>
                                        <td>@i.TENHH</td>
                                        <td>@i.HOATCHAT</td>
                                        <td class="text-center">@i.DVT3</td>
                                        <td class="text-right">@string.Format("{0:#,##0}", i.GIABAN3)</td>
                                        <td class="text-center">@i.DVT2</td>
                                        <td class="text-right">@string.Format("{0:#,##0}", i.GIABAN2)</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
@section scripts {
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.6/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.flash.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.print.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#example").dataTable({
                "iDisplayLength": 50, "scrollX": true, dom: 'Bfrtip',
                buttons: [
                    'copy', 'excel'
                ]
            });
        });
    </script>
}