
@{
    ViewBag.Title = "Theo dõi hàng thầu";
    Layout = "~/Views/Shared/Layout1.cshtml";
}
@section styles {
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css" />
    <style>
        .bootstrap-select.btn-group .dropdown-toggle .caret {
            right: 10px;
            margin-top: -3px;
        }

        .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
            width: 100% !important;
        }

        span.text {
            font-size: 0.8em;
        }

        .bootstrap-select .dropdown-menu {
            left: auto;
            right: 0;
            width: 100%;
        }

        .selectui .dropdown-menu {
            left: 0;
            right: auto;
        }
    </style>
}
@using (Html.BeginForm("IndexIN", "Thau"))
{
    @Html.AntiForgeryToken()
    <div id="heightscreen">
        <div class="w3-card w3-white" style="border-radius:0.25rem">
            <ol class="breadcrumb" style="margin-top:42px;margin-bottom:0px;">
                <li class="breadcrumb-item"><a style="color:#007bff;font-weight:700" href="#">TRANG CHỦ</a></li>
                <li class="breadcrumb-item active w3-text-black font-weight-normal">THEO DÕI HỢP ĐỒNG THẦU</li>
            </ol>
        </div>
        @*<div class="alert alert-primary mb-0" role="alert">
                <b>GHI CHÚ :</b> Nếu tìm kiếm không thấy khách hàng, CTKM hoặc sản phẩm thì chọn vào <a href="#" class="text-danger font-weight-bold">ĐÂY</a>
            </div>*@
        <div class="w3-content w3-padding box p-0 pt-0" style="background-color:white;margin-top:3px;">

            <div class="w3-row">
                <div class="card mb-0">
                    <div class="card-header">
                        <button formTarget="_blank" name="btnin" value="1" type="submit" class="btn btn-danger btn-sm transition-3d-hover m-0 btnin"> XEM</button>
                        <button formTarget="_blank" name="btnin" value="2" type="submit" class="btn btn-secondary btn-sm transition-3d-hover m-0 btnin"> TẢI PDF</button>
                        <button formTarget="_blank" name="btnin" value="3" type="submit" class="btn btn-success btn-sm transition-3d-hover m-0 btnin"> TẢI EXCEL</button>
                        <button formTarget="_blank" name="btnin" value="4" type="submit" class="btn btn-primary btn-sm transition-3d-hover m-0 btnin"> TẢI WORD</button>
                    </div>
                    <div class="card-body pb-0 pt-1">
                        <div class="form-row">
                            <div class="form-group col-md-3 mb-0">
                                <label class="my-1 mr-2 font-weight-bold" for="chon">Chọn<code>(*)</code></label>
                                <select class="selectpicker my-1 mr-sm-2 show-tick" id="chon">
                                    <option selected value="1">Một chi nhánh</option>
                                    <option value="2">Nhiều chi nhánh</option>
                                </select>
                            </div>
                            <div class="form-group col-md-3 mb-0">
                                <label class="my-1 mr-2 font-weight-bold" for="chinhanh">Chi nhánh<code>(*)</code></label>
                                <select class="selectpicker my-1 mr-sm-2" name="macn" title="Chọn chi nhánh" data-actions-box="true" data-selected-text-format="count > 3" id="chinhanh">
                                    <optgroup label="MIỀN TRUNG">
                                        @foreach (var k in ViewBag.mientrung)
                                        {
                                            <option value=@k.macn>@k.Tencn</option>
                                        }
                                    </optgroup>
                                    <optgroup label="MIỀN NAM">
                                        @foreach (var k in ViewBag.miennam)
                                        {
                                            <option value=@k.macn>@k.Tencn</option>
                                        }
                                    </optgroup>
                                    <optgroup label="MIỀN BẮC">
                                        @foreach (var k in ViewBag.mienbac)
                                        {
                                            <option value=@k.macn>@k.Tencn</option>
                                        }
                                    </optgroup>
                                </select>
                            </div>
                            <div class="form-group col-md-3 col-sm-6 mb-0">
                                <label class="my-1 mr-2 font-weight-bold" for="chon">Từ ngày<code>(*)</code></label>
                                <input type="text" autocomplete="off" name="tungay" placeholder="DD/MM/YYYY" class="form-control form-control1 my-1 mr-sm-2" data-validation="digit" data-inputmask="'alias': 'dd/mm/yyyy'" data-mask="" value="@DateTime.Now.ToString("01/MM/yyyy")" id="tungay">
                            </div>
                            <div class="form-group col-md-3 col-sm-6 mb-0">
                                <label class="my-1 mr-2 font-weight-bold" for="chon">Đến ngày<code>(*)</code></label>
                                <input type="text" autocomplete="off" name="denngay" placeholder="DD/MM/YYYY" class="form-control form-control1 my-1 mr-sm-2" data-validation="digit" data-inputmask="'alias': 'dd/mm/yyyy'" data-mask="" value="@DateTime.Now.ToString("dd/MM/yyyy")" id="denngay">
                            </div>
                            <div class="form-group col-md-3 mb-0">
                                <label class="my-1 mr-2 font-weight-bold" for="chon">Hiệu lực<code>(*)</code></label>
                                <select class="selectpicker my-1 mr-sm-2 show-tick" id="hieuluc">
                                    <option selected value="1">Còn hiệu lực</option>
                                    <option value="2">Hết hiệu lực</option>
                                </select>
                            </div>
                            <div class="form-group col-md-9 mb-0">
                                <label class="my-1 mr-2 font-weight-bold" for="loaibaocao">Lựa chọn báo cáo<code>(*)</code></label>
                                <select class="selectpicker show-tick my-1 mr-sm-2" name="loai" id="loaibaocao">
                                    <option selected value="1">1. Chi tiết Khu vực - Khách hàng - Mã HH</option>
                                    <option value="2">2. Tổng hợp Khu vực - Mã HH</option>
                                    <option value="3">3. Tổng hợp Mã HH - Khu vực</option>
                                    <option value="4">4. Tổng hợp Mã HH - Khách hàng</option>
                                    <option value="5">5. Chi tiết Khu vực - Khách hàng - Mã HH - Ngày kết thúc</option>
                                    <option value="6">6. Chi tiết Khu vực - Khách hàng - Mã HH - Ngày kết thúc (EXCEL)</option>
                                    <option value="7">7. Tổng hợp Mã HH - Khách hàng - Theo từng tháng (EXCEL)</option>
                                    <option value="8">8. Tổng hợp Mã HH (EXCEL)</option>
                                    <option value="9">10. CHI TIẾT EXCEL</option>

                                </select>
                            </div>
                            <div class="form-group col-md-12 mb-0">
                                <h5 class="card-title font-weight-bold">Các bộ lọc</h5>
                            </div>
                        </div>
                        <div class="form-row" id="PartialView">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
@section scripts {
    <script src="~/Scripts/bootstrap-select.js?version=99"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap-datepicker.js?version=1"></script>
    <script>
        $(document).ready(function () {
            $('.amenu4').addClass('active');
            $('.form-control1').datepicker({
                format: 'dd/mm/yyyy',
                todayHighlight: true,
                autoclose: true,
            })
            $(".btnin").click(function (e) {
              
                if ($("#chinhanh").val() == "") {
                    toastr.options = {
                        "closeButton": false,
                        "debug": false,
                        "newestOnTop": true,
                        "progressBar": true,
                        "positionClass": "toast-top-right",
                        "preventDuplicates": false,
                        "onclick": null,
                        "showDuration": "300",
                        "hideDuration": "1000",
                        "timeOut": "5000",
                        "extendedTimeOut": "1000",
                        "showEasing": "swing",
                        "hideEasing": "linear",
                        "showMethod": "fadeIn",
                        "hideMethod": "fadeOut"
                    }
                    Command: toastr["warning"]("Vui lòng chọn chi nhánh !", "Thông báo")
                    e.preventDefault();
                }
                else if ($("#tungay").val() == "" || $("#denngay").val() == "") {
                    toastr.options = {
                        "closeButton": false,
                        "debug": false,
                        "newestOnTop": true,
                        "progressBar": true,
                        "positionClass": "toast-top-right",
                        "preventDuplicates": false,
                        "onclick": null,
                        "showDuration": "300",
                        "hideDuration": "1000",
                        "timeOut": "5000",
                        "extendedTimeOut": "1000",
                        "showEasing": "swing",
                        "hideEasing": "linear",
                        "showMethod": "fadeIn",
                        "hideMethod": "fadeOut"
                    }
                    Command: toastr["warning"]("Vui lòng chọn ngày !", "Thông báo")
                    e.preventDefault();
                }
                else if ($("#hopdong").val() == "") {
                    toastr.options = {
                        "closeButton": false,
                        "debug": false,
                        "newestOnTop": true,
                        "progressBar": true,
                        "positionClass": "toast-top-right",
                        "preventDuplicates": false,
                        "onclick": null,
                        "showDuration": "300",
                        "hideDuration": "1000",
                        "timeOut": "5000",
                        "extendedTimeOut": "1000",
                        "showEasing": "swing",
                        "hideEasing": "linear",
                        "showMethod": "fadeIn",
                        "hideMethod": "fadeOut"
                    }
                    Command: toastr["warning"]("Vui lòng chọn hợp đồng - khách hàng !", "Thông báo")
                    e.preventDefault();
                }
            });
            $("#chon").change(function () {
                $("#PartialView").empty();
                if ($("#chon").val() == 1) {
                    $('#chinhanh').selectpicker('destroy');
                    $('#chinhanh').removeClass('show-tick');
                    $('#chinhanh').removeAttr("multiple");
                }
                else {
                    $('#chinhanh').selectpicker('destroy');
                    $('#chinhanh').addClass('show-tick');
                    $('#chinhanh').attr("multiple", "true");
                    $('#chinhanh .bs-title-option').remove();
                }
                $('#chinhanh').selectpicker();
                $('#chinhanh').selectpicker('deselectAll');
            });
            $("#chinhanh").change(function () {
                if ($("#chinhanh").val() != "") {
                    $('#loading').modal({ backdrop: 'static', keyboard: false });
                    $.ajax({
                        type: "POST",
                        url: "@Url.Action("GetPartialThau", "Thau")",
                        datatype: 'json',
                        contentType: "application/json",
                        data: '{macn: ' + JSON.stringify($("#chinhanh").val()) + ', tungay: ' + JSON.stringify($("#tungay").val()) + ', denngay: ' + JSON.stringify($("#denngay").val()) + ', hieuluc: ' + JSON.stringify($("#hieuluc").val()) + '}',
                        error: function () {
                            $('#loading').modal('hide');
                        },
                        success: function (data) {
                            $("#PartialView").html(data);
                            $('#PartialView  .selectpicker').selectpicker();
                            $('#loading').modal('hide');
                        },
                        timeout: 5000,
                    });
                }
            });
            $("#PartialView").on("change", "#khuvuc,#phanloai,#phanloaikhachhang,#loaihd,#maqd", function () {
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("GetPartialLocHD", "Thau")",
                    datatype: 'json',
                    contentType: "application/json",
                    data: '{macn: ' + JSON.stringify($("#chinhanh").val()) + ', tungay: ' + JSON.stringify($("#tungay").val()) + ', denngay: ' + JSON.stringify($("#denngay").val()) + ', khuvuc: ' + JSON.stringify($("#khuvuc").val()) + ', phanloai: ' + JSON.stringify($("#phanloai").val()) + ', phanloaikhachhang: ' + JSON.stringify($("#phanloaikhachhang").val()) + ', loaihd: ' + JSON.stringify($("#loaihd").val()) + ', maqd: ' + JSON.stringify($("#maqd").val()) + '}',
                    success: function (data) {
                        $("#PartialLocHD").html(data);
                        $('#PartialLocHD  .selectpicker').selectpicker();

                    },
                    timeout: 5000,
                });
            });
        });
    </script>
}
