@model ApplicationChart.Models.Dulieukyhan
<div class="form-group col-md-6 col-lg-6 col-sm-6 mb-0">
    <label class="my-1 mr-2 font-weight-bold" for="ploaict">Tài khoản<code>(*)</code></label>
    <select title="Chọn tài khoản" class="selectpicker my-1 mr-sm-2 show-tick" name="matk" id="matk">
        @foreach (var i in Model.matk)
        {
            <option value="@i">@i</option>
        }
    </select>
</div>
<div class="form-group col-md-6 col-lg-6 mb-0">
    <label class="my-1 mr-2 font-weight-bold" for="mahh">Mã khách hàng</label>
    <select title="Chọn khách hàng" class="selectpicker show-tick my-1 mr-sm-2" data-live-search="true" multiple name="makh" id="makh">
        @foreach (var i in Model.KHACHHANG)
        {

            <option value="@i.MAKH">@i.MAKH - @i.DONVI</option>
        }
    </select>
</div>
<div class="form-group col-md-6 col-lg-6 mb-0">
    <label class="my-1 mr-2 font-weight-bold" for="loaihd">Mã TDV</label>
    <select title="Chọn TDV" class="selectpicker show-tick my-1 mr-sm-2" multiple data-actions-box="true" data-selected-text-format="count > 3" name="matdv" data-live-search="true" id="matdv">
        @foreach (var i in Model.TDV)
        {
            <option value="@i.MATDV">@i.MATDV - @i.TENTDV</option>
        }
    </select>
</div>
<div class="form-group col-md-6 col-lg-6 mb-0">
    <label class="my-1 mr-2 font-weight-bold" for="khuvuc">Khu vực</label>
    <select title="Chọn khu vực" class="selectpicker show-tick my-1 mr-sm-2" multiple data-actions-box="true" data-selected-text-format="count > 3" name="khuvuc" id="khuvuc">
        @foreach (var i in Model.KHUVUC)
        {
            <option value="@i.matinh">@i.matinh - @i.tentinh</option>
        }
    </select>
</div>
<div class="form-group col-md-6 col-lg-6 col-sm-6 mb-0">
    <label class="my-1 mr-2 font-weight-bold" for="ploaict">Phân loại</label>
    <select title="Chọn phân loại" class="selectpicker my-1 mr-sm-2 show-tick" name="phanloai" multiple id="phanloai">
        <option value="OTC">OTC</option>
        <option value="ETC">ETC</option>
    </select>
</div>
