
@model IEnumerable<ApplicationChart.Models.TBL_DANHMUCKHOANTDV_PHI>


<table id="example23" class="display nowrap table table-hover table-bordered w-100 pt-0 mb-1">
    <!--Table head-->
    <thead style="background-color:rgb(66, 133, 244);">
        <tr  class="text-white"><th>THÁNG</th><th>PHỤ PHÍ OTC</th><th>PHỤ PHÍ ETC</th><th>PHỤ PHÍ TỔ TRƯỞNG</th><th>PHỤ PHÍ QUẢN LÝ</th><th>PHỤ PHÍ GIÁM ĐỐC CN</th><th>PHỤ PHÍ GIÁM ĐỐC KD</th><th>HÀNH ĐỘNG</th></tr>
    </thead>
    <!--Table head-->
    <!--Table body-->
    <tbody>
        @{
            foreach (var i in Model)
            {
                <tr class="clickable-row">
                    <td class="text-center">@i.thang</td>
                    <td>@string.Format("{0:0.00}", i.phuphi_otc)</td>
                    <td>@string.Format("{0:0.00}", i.phuphi_etc)</td>
                    <td>@string.Format("{0:0.00}", i.phuphi_supervisor)</td>
                    <td>@string.Format("{0:0.00}", i.phuphi_manager)</td>
                    <td>@string.Format("{0:0.00}", i.phuphi_director)</td>
                    <td>@string.Format("{0:0.00}", i.phuphi_director_sale)</td>
                    <td class="text-center" style="width:110px;"><button type="button" class="btn btn-sm btn-danger waves-effect transition-3d-hover btnxoa" data-toggle="modal" data-target="#ModalView"><i class="fa fa-2x fa-trash"></i></button></td>
                </tr>
            }
        }
    </tbody>
    <!--Table body-->
</table>



