
@{
    ViewBag.Title = "Quản lý người dùng";
    Layout = "~/Views/Shared/Layout1.cshtml";
}
@section styles {
    <link href="~/Content/Datatable.css?version=11" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css" />
    <link rel="stylesheet" href="~/Content/OrderStyle.css?version=43">
    <style>
        .dropdown-menu {
            font-size: 12px;
        }

        .custom-control-label {
            font-size: 17px;
        }

        .table td, .table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
            font-size: 11px !important;
        }

        .table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
            line-height: 26px;
        }

        .overflow-auto {
            overflow: auto !important;
        }

        .checkbox {
            font-size: 15px;
        }
    </style>
}
<div id="heightscreen">
    <div class="w3-card w3-white" style="border-radius:0.25rem">
        <ol class="breadcrumb" style="margin-top:42px;margin-bottom:0px;">
            <li class="breadcrumb-item"><a style="color:#007bff;font-weight:700" href="#">TRANG CHỦ</a></li>
            <li class="breadcrumb-item active w3-text-black font-weight-normal">QUẢN LÝ NGƯỜI DÙNG</li>
        </ol>
    </div>
    <div class="w3-container box p-1" style="margin-top:3px;margin-bottom:2px;background-color:white;">

        <div class="card-body pt-0 pb-2">
            <div class="row">
                <div class="col-sm-6 col-md-4 col-lg-4">
                    <div class="form-group mb-0">
                        <label class="col-form-label" for="hoten">Họ và tên <code>(*)</code></label>
                        <input id="hoten" class="form-control font-weight-normal m-0" type="text" autocomplete="off">
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg-4">
                    <div class="form-group mb-0">
                        <label class="col-form-label" for="taikhoan">Tài khoản <code>(*)</code></label>
                        <input id="taikhoan" class="form-control font-weight-normal m-0" type="text" autocomplete="off">
                    </div>
                </div>
                <div class="col-sm-12 col-md-4 col-lg-4">
                    <div class="form-group mb-0">
                        <label class="col-form-label" for="matkhau">Mật khẩu <code>(*)</code></label>
                        <input maxlength="20" id="matkhau" class="form-control font-weight-normal m-0" type="password" autocomplete="off">
                    </div>
                </div>
                <div class="col-sm-12 col-md-4 col-lg-4">
                    <div class="form-group mb-0">
                        <label class="col-form-label" for="emailTN">Email <code>(*)</code></label>
                        <input id="emailTN" class="form-control font-weight-normal m-0" type="email" autocomplete="off">
                    </div>
                </div>
                <div class="col-sm-12 col-md-4 col-lg-4">
                    <div class="form-group mb-0">
                        <label class="col-form-label" for="phamvi">Quyền <code>(*)</code></label>
                        <select id="quyen" class="selectpicker" multiple data-live-search="true" data-actions-box="true" data-selected-text-format="count">
                            <option selected value="CAP2">XEM BÁO CÁO BSC</option>
                            <option value="DONHANG">TẠO ĐƠN HÀNG</option>
                            <option value="DUYETDONHANG">DUYỆT ĐƠN HÀNG</option>
                            <option value="KEHOACH">LÊN KẾ HOẠCH</option>
                            <option value="KHUYENMAI">QUẢN LÝ CRM</option>
                            <option value="QLNGUOIDUNG">QUẢN LÝ NGƯỜI DÙNG</option>
                            <option value="XOASUAKHACHHANG">XÓA/SỬA KHÁCH HÀNG</option>
                            <option value="LUIKEHOACH">LÙI BÁO CÁO KẾ HOẠCH</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer modal-footer p-2">
            @*<button id="btnadd" type="button" class="btn btn-success btn-sm transition-3d-hover mb-0">THÊM</button>*@
            <button id="btnedit" type="button" class="btn btn-primary btn-sm transition-3d-hover mb-0">SỬA</button>
        </div>

    </div>
    <div class="w3-content p-1 box" style="background-color:white;" id="Viewtable">
        @{Html.RenderAction("PartialQLND", "Home");}
    </div>
</div>


@*}*@
@section scripts {
    <script type="text/javascript" src="~/Scripts/bootstrap-datepicker.js?version=1"></script>
    <script src="~/Scripts/bootstrap-select.js?version=3"></script>
    <script src="~/Content/Order/js/lib/datatables/datatables.min.js?version=6"></script>
    <script src="~/Scripts/md5.min.js"></script>

    <script>
        $(document).ready(function () {
            //$('.selectpicker').selectpicker();
            $('#example23').DataTable({
                "columnDefs": [{
                    "targets": 'no-sort',
                    "orderable": false,
                }],
                "lengthMenu": [[50, 100, -1], [50, 100, "All"]],
                "order": [],
                responsive: true,
                fixedHeader: true,
            }
                             );
            $("#example23").on("click", ".btnedit", function () {
                var tr = $(this).closest('tr');
                var chinhanh = tr.find('td:eq(5)').text();
                var quanloai = tr.find('td:eq(3)').text();
                var khuvuc = tr.find('td:eq(6)').text();
                var matdv = tr.find('td:eq(4)').text();
                var maquan = tr.find('td:eq(7)').text();
                var makh = tr.find('td:eq(8)').text();
                var loai = tr.find('td:eq(9)').text();
                var quyen = tr.find('td:eq(10)').text();
                var email = tr.find('td:eq(11)').text();


                $("#taikhoan").val(tr.find('td:eq(1)').text());
                $("#hoten").val(tr.find('td:eq(2)').text());
                $("#matkhau").val('');
                $("#emailTN").val(email);
                $("#phanloai").val(quanloai).selectpicker("refresh");
                $("#loai").val(loai).selectpicker("refresh");

                $("#makh").val(makh.split(",")).selectpicker("refresh");
                $("#quyen").val(quyen.split(",")).selectpicker("refresh");
                $("#chinhanh").val(chinhanh.split(",")).selectpicker("refresh");
                $("#khuvuc").val(khuvuc.split(",")).selectpicker("refresh");
                $("#matdv").val(matdv.split(",")).selectpicker("refresh");
                $("#maquan").val(maquan.split(",")).selectpicker("refresh");
            });
            $("#example23").on("click", ".btnxoa", function () {
                var taikhoan = $(this).closest('tr').find('td:eq(1)').text();
                $.ajax({
                    url: '@Url.Action("Delnguoidung", "Home")',
                    type: "POST",
                    datatype: 'json',
                    contentType: "application/json",
                    data: '{taikhoan: ' + JSON.stringify($("#taikhoan").val()) + '}',
                    success: function (data) {
                        toastr.options = {
                            "closeButton": false,
                            "debug": false,
                            "newestOnTop": true,
                            "progressBar": true,
                            "positionClass": "toast-top-right",
                            "preventDuplicates": false,
                            "onclick": null,
                            "showDuration": "300",
                            "hideDuration": "1000",
                            "timeOut": "5000",
                            "extendedTimeOut": "1000",
                            "showEasing": "swing",
                            "hideEasing": "linear",
                            "showMethod": "fadeIn",
                            "hideMethod": "fadeOut"
                        }
                        Command: toastr["success"]("Thành công", "Thông báo")
                    },
                    error: function (request, status, error) {
                        toastr.options = {
                            "closeButton": false,
                            "debug": false,
                            "newestOnTop": true,
                            "progressBar": true,
                            "positionClass": "toast-top-right",
                            "preventDuplicates": false,
                            "onclick": null,
                            "showDuration": "300",
                            "hideDuration": "1000",
                            "timeOut": "5000",
                            "extendedTimeOut": "1000",
                            "showEasing": "swing",
                            "hideEasing": "linear",
                            "showMethod": "fadeIn",
                            "hideMethod": "fadeOut"
                        }
                        Command: toastr["warning"]("Kiểm tra lại thông tin nhập", "Thông báo")
                    },
                    timeout: 5000,
                });

            });
            $("#example23").on("change", ".checkkhoa", function () {

                var url = '@Url.Action("ActionKhoa", "Admin")';

                $.post(url, { taikhoan: $(this).closest('tr').find('td:eq(1)').text(), khoatk: $(this).is(":checked") },
                             function (data) {

                             });
            });
            $("#btnadd").click(function () {
                var formData = new FormData();
                formData.append("email", $("#emailTN").val());
                formData.append("taikhoan", $("#taikhoan").val());
                formData.append("hoten", $("#hoten").val());
                formData.append("quyen", $("#quyen").val());
                formData.append("phanloai", $("#phanloai").val());
                formData.append("macn", $("#chinhanh").val());
                formData.append("matinh", $("#khuvuc").val());
                formData.append("matdv", $("#matdv").val());
                formData.append("maquan", $("#maquan").val());
                formData.append("loai", $("#loai").val());
                formData.append("makh", $("#makh").val());
                formData.append("matkhau", md5($("#matkhau").val()))
                if ($("#matkhau").val() == '') {
                    alert("Chưa nhập mật khẩu!");
                    return false;
                }
                $.ajax({
                    url: '@Url.Action("Addnguoidung", "Home")',
                    type: "POST",
                    datatype: 'json',
                    contentType: "application/json",
                    data: formData,
                    contentType: false,
                    processData: false,
                    success: function (data) {
                        toastr.options = {
                            "closeButton": false,
                            "debug": false,
                            "newestOnTop": true,
                            "progressBar": true,
                            "positionClass": "toast-top-right",
                            "preventDuplicates": false,
                            "onclick": null,
                            "showDuration": "300",
                            "hideDuration": "1000",
                            "timeOut": "5000",
                            "extendedTimeOut": "1000",
                            "showEasing": "swing",
                            "hideEasing": "linear",
                            "showMethod": "fadeIn",
                            "hideMethod": "fadeOut"
                        }
                        Command: toastr["success"]("Thành công", "Thông báo")
                        location.reload()
                    },
                    error: function (request, status, error) {
                        toastr.options = {
                            "closeButton": false,
                            "debug": false,
                            "newestOnTop": true,
                            "progressBar": true,
                            "positionClass": "toast-top-right",
                            "preventDuplicates": false,
                            "onclick": null,
                            "showDuration": "300",
                            "hideDuration": "1000",
                            "timeOut": "5000",
                            "extendedTimeOut": "1000",
                            "showEasing": "swing",
                            "hideEasing": "linear",
                            "showMethod": "fadeIn",
                            "hideMethod": "fadeOut"
                        }
                        Command: toastr["warning"]("Kiểm tra lại thông tin nhập", "Thông báo")
                    },
                    timeout: 5000,
                });
            });
            $("#btnedit").click(function () {
                var formData = new FormData();
                formData.append("email", $("#emailTN").val());
                formData.append("taikhoan", $("#taikhoan").val());
                formData.append("hoten", $("#hoten").val());
                formData.append("quyen", $("#quyen").val());
                formData.append("phanloai", $("#phanloai").val());
                formData.append("macn", $("#chinhanh").val());
                formData.append("matinh", $("#khuvuc").val());
                formData.append("matdv", $("#matdv").val());
                formData.append("loai", $("#loai").val());
                formData.append("maquan", $("#maquan").val());
                formData.append("makh", $("#makh").val());
                if ($("#matkhau").val() != '') {
                    formData.append("matkhau", md5($("#matkhau").val()))
                }
                $.ajax({
                    url: '@Url.Action("Editnguoidung", "Home")',
                    type: "POST",
                    datatype: 'json',
                    contentType: "application/json",
                    data: formData,
                    contentType: false,
                    processData: false,
                    success: function (data) {
                        toastr.options = {
                            "closeButton": false,
                            "debug": false,
                            "newestOnTop": true,
                            "progressBar": true,
                            "positionClass": "toast-top-right",
                            "preventDuplicates": false,
                            "onclick": null,
                            "showDuration": "300",
                            "hideDuration": "1000",
                            "timeOut": "5000",
                            "extendedTimeOut": "1000",
                            "showEasing": "swing",
                            "hideEasing": "linear",
                            "showMethod": "fadeIn",
                            "hideMethod": "fadeOut"
                        }
                        Command: toastr["success"]("Thành công", "Thông báo")
                        location.reload()
                    },
                    error: function (request, status, error) {
                        toastr.options = {
                            "closeButton": false,
                            "debug": false,
                            "newestOnTop": true,
                            "progressBar": true,
                            "positionClass": "toast-top-right",
                            "preventDuplicates": false,
                            "onclick": null,
                            "showDuration": "300",
                            "hideDuration": "1000",
                            "timeOut": "5000",
                            "extendedTimeOut": "1000",
                            "showEasing": "swing",
                            "hideEasing": "linear",
                            "showMethod": "fadeIn",
                            "hideMethod": "fadeOut"
                        }
                        Command: toastr["warning"]("Kiểm tra lại thông tin nhập", "Thông báo")
                    },
                    timeout: 5000,
                });
            });
            //GetPartiaQLND();
            getKhachhang();
            getChinhanh();
            getKhuvuc();
            getTDV();
            getQuan();
        });
         function getKhachhang() {
             var url2 = '@Url.Action("GetKhachHang", "Home")';
             $.post(url2, {},
                 function (data) {
                     for (var i = 0; i < data.length; i++) {

                         $("#makh").append('<option value="' + data[i].MAKH + '" tabindex="' + data[i].DONVI + '" data-subtext="' + data[i].DIACHI + '" data-macn="' + data[i].macn +'">' + data[i].MAKH + " - " + data[i].DONVI + '</option>');
                     }
                     $('#makh').selectpicker('refresh');
                 });
         }
        function getChinhanh() {
             var url2 = '@Url.Action("GetChinhanh", "Home")';
             $.post(url2, {},
                 function (data) {
                     //$("#chinhanh").empty();
                     for (var i = 0; i < data.length; i++) {
                         $("#chinhanh").append('<option value="' + data[i].macn + '">' + data[i].macn + " - " + data[i].Tencn + '</option>');
                     }
                     $("#chinhanh").selectpicker("refresh");
                 });
        }
        function getKhuvuc() {
            var url2 = '@Url.Action("GetKhuvuc", "Home")';
            $.post(url2, {},
                function (data) {
                    //$("#khuvuc").empty();
                    for (var i = 0; i < data.length; i++) {
                        $("#khuvuc").append('<option value="' + data[i].matinh + '">' + data[i].matinh + " - " +data[i].tentinh + '</option>');
                    }
                    $("#khuvuc").selectpicker("refresh").trigger("change");
                });
        }
        function getTDV() {
             var url = '@Url.Action("GetTrinhduoc", "Home")';
             $.post(url, {  },
                function (data) {
                    for (var i = 0; i < data.length; i++) {
                        $("#matdv").append('<option tabindex="' + data[i].tentdv + '" value="' + data[i].matdv + '">' + data[i].matdv + " - " + data[i].tentdv + '</option>')
                    }
                    $('#matdv').selectpicker('refresh');
                });

        }
        function GetPartiaQLND() {
             $.ajax({
                 type: "POST",
                 url: "@Url.Action("GetPartiaQLND", "Home")",
                 datatype: 'json',
                 contentType: "application/json",
                 error: function () {
                     $('#loading').modal('hide');
                 },
                 success: function (data) {
                     $("#PartialView").html(data);
                     $('#PartialView .selectpicker').selectpicker();
                     $('#loading').modal('hide');
                 },
                 error: function (request, status, error) {
                     toastr.options = {
                         "closeButton": false,
                         "debug": false,
                         "newestOnTop": true,
                         "progressBar": true,
                         "positionClass": "toast-top-right",
                         "preventDuplicates": false,
                         "onclick": null,
                         "showDuration": "300",
                         "hideDuration": "1000",
                         "timeOut": "5000",
                         "extendedTimeOut": "1000",
                         "showEasing": "swing",
                         "hideEasing": "linear",
                         "showMethod": "fadeIn",
                         "hideMethod": "fadeOut"
                     }
                     Command: toastr["warning"]("Không thành công ,Vui lòng thử lại !", "Thông báo")
                     $('#loading').modal('hide');
                 },
                 timeout: 5000,
             });
        }
        async function getQuan() {
             return  await $.ajax({
                type: "POST",

                url: "@Url.Action("GetQuan", "Baocao")",
                contentType: "application/json",
                datatype: 'json',
                error: function () {
                    toastr.options = {
                        "closeButton": true,
                        "debug": false,
                        "newestOnTop": true,
                        "progressBar": true,
                        "positionClass": "toast-top-right",
                        "preventDuplicates": false,
                        "onclick": null,
                        "showDuration": "300",
                        "hideDuration": "1000",
                        "timeOut": "5000",
                        "extendedTimeOut": "1000",
                        "showEasing": "swing",
                        "hideEasing": "linear",
                        "showMethod": "fadeIn",
                        "hideMethod": "fadeOut"
                    }
                    Command: toastr["warning"]("Vui lòng thử lại", "Lỗi")
                },
                success: function (data) {
                    for (var i = 0; i < data.length; i++) {
                        var d = data[i];
                        $("#maquan").append("<option value='" + d.maquan + "'>" + d.maquan + " - " +d.tenquan + "</option>")
                    }
                    $('#maquan').selectpicker('refresh');
                },
                timeout: 5000,
            });
        }
    </script>
}

