@model ApplicationChart.Models.THONGTINCUATOI
@{
    ViewBag.Title = Html.Raw(GlobalRes.lbthongtincuatoi.ToUpper());
    Layout = "~/Views/Shared/Layout1.cshtml";
}

@section styles {
    <link href="~/Content/Datatable.css?version=8" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css" />
    <link rel="stylesheet" href="~/Content/OrderStyle.css?version=42">
    @*<link href="~/Content/bootstrap-select.css?version=1" rel="stylesheet">*@
}
<div id="heightscreen">
    <div class="w3-card w3-white" style="border-radius:0.25rem">
        <ol class="breadcrumb" style="margin-top:42px;margin-bottom:0px;">
            <li class="breadcrumb-item"><a style="color:#007bff;font-weight:700" href="#">@Html.Raw(GlobalRes.lbtrangchu.ToUpper())</a></li>
            <li class="breadcrumb-item active w3-text-black font-weight-normal">@Html.Raw(GlobalRes.lbthongtincuatoi.ToUpper())</li>
        </ol>
    </div>
    <div class="w3-content w3-padding box p-0 pt-1" style="background-color:white;margin-top:3px;">
        <div class="w3-row card">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-12 col-lg-6">
                        <div class="form-group">
                            <label class="font-weight-bold" for="donviedit">@Html.Raw(GlobalRes.lbtaikhoan)</label>
                            <input readonly autocomplete="off" value="@Model.taikhoan" type="text" class="form-control" placeholder="Tài khoản">
                        </div>
                    </div>
                    <div class="col-sm-12 col-lg-6">
                        <div class="form-group">
                            <label class="font-weight-bold" for="donviedit">@Html.Raw(GlobalRes.lbhovaten)</label>
                            <input readonly autocomplete="off" value="@Model.hoten" type="text" class="form-control" placeholder="Họ và tên">
                        </div>
                    </div>
                    <div class="col-sm-12 col-lg-6">
                        <div class="form-group">
                            <label class="font-weight-bold" for="donviedit">Email</label>
                            <input autocomplete="off" type="email" value="@Model.email" class="form-control form-control1" id="ttemail" placeholder="Email">
                        </div>
                    </div>
                    <div class="col-sm-12 col-lg-6">
                        <div class="form-group">
                            <label class="font-weight-bold" for="donviedit">@Html.Raw(GlobalRes.lbdienthoailienhe)</label>
                            <input autocomplete="off" type="text" value="@Model.sdt" class="form-control" placeholder="Nhập số điện thoại" id="ttsdt" data-inputmask='"mask": "099999999999"' data-mask>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <button id="btnedit" type="button" class="btn btn-primary btn-sm transition-3d-hover mb-0">@Html.Raw(GlobalRes.lbthaydoi.ToUpper())</button>
            </div>
        </div>

    </div>
</div>


@section scripts {
    <script>
        $(document).ready(function () {
           
            $("#btnedit").click(function () {
                if ($("#ttemail").val() == "") {
                    toastr.options = {
                        "closeButton": false,
                        "debug": false,
                        "newestOnTop": true,
                        "progressBar": true,
                        "positionClass": "toast-top-right",
                        "preventDuplicates": false,
                        "onclick": null,
                        "showDuration": "300",
                        "hideDuration": "1000",
                        "timeOut": "5000",
                        "extendedTimeOut": "1000",
                        "showEasing": "swing",
                        "hideEasing": "linear",
                        "showMethod": "fadeIn",
                        "hideMethod": "fadeOut"
                    }
                    Command: toastr["warning"]("Bạn chưa điền đủ thông tin email !", "Thông báo")
                }
                else {
                    $.confirm({
                        title: '<b>THÔNG BÁO</b>',
                        content: 'Bạn có chắc chắn muốn thay đổi thông tin ?',
                        buttons: {
                            confirm: {
                                text: 'Chắc chắn',
                                btnClass: 'btn-success',
                                keys: ['enter'],
                                action: function () {
                                    $.ajax({
                                        type: "POST",
                                        url: "@Url.Action("EditThongtin", "Home")",
                                        contentType: "application/json",
                                        datatype: 'json',
                                        data: '{email: ' + JSON.stringify($("#ttemail").val()) + ', sdt: ' + JSON.stringify($("#ttsdt").val().replace(/_/g, "")) + '}',
                                        error: function () {
                                            toastr.options = {
                                                "closeButton": true,
                                                "debug": false,
                                                "newestOnTop": true,
                                                "progressBar": true,
                                                "positionClass": "toast-top-right",
                                                "preventDuplicates": false,
                                                "onclick": null,
                                                "showDuration": "300",
                                                "hideDuration": "1000",
                                                "timeOut": "5000",
                                                "extendedTimeOut": "1000",
                                                "showEasing": "swing",
                                                "hideEasing": "linear",
                                                "showMethod": "fadeIn",
                                                "hideMethod": "fadeOut"
                                            }
                                            Command: toastr["warning"]("Vui lòng thử lại", "Lỗi")
                                        },
                                        success: function (data) {
                                            toastr.options = {
                                                "closeButton": true,
                                                "debug": false,
                                                "newestOnTop": true,
                                                "progressBar": true,
                                                "positionClass": "toast-top-right",
                                                "preventDuplicates": false,
                                                "onclick": null,
                                                "showDuration": "300",
                                                "hideDuration": "1000",
                                                "timeOut": "5000",
                                                "extendedTimeOut": "1000",
                                                "showEasing": "swing",
                                                "hideEasing": "linear",
                                                "showMethod": "fadeIn",
                                                "hideMethod": "fadeOut"
                                            }
                                            Command: toastr["success"]("Thay đổi thành công !", "THÔNG BÁO")
                                        },
                                        timeout: 5000,
                                    });
                                }
                            },
                            cancel: {
                                text: 'Hủy',
                                btnClass: 'btn-danger',
                                keys: ['esc'],
                                action: function () {

                                }
                            }
                        }
                    });
                }
            });

        });

    </script>
}