@model IEnumerable<ApplicationChart.Models.TBL_QLSXAPPROVE>
<table id="exceltable" class="table-bordered display nowrap w-100" cellspacing="0">
    <thead id="tableheader">
        <tr>
            <th>Local code</th>
            <th>Product Name</th>
            @foreach (var z in Model.GroupBy(n => new { n.thang, n.nam }).Distinct().OrderBy(k => k.Key.nam).ThenBy(k => k.Key.thang))
            {
                <th>@(z.Key.thang + "/" + z.Key.nam)</th>
            }
            @foreach (var z in Model.GroupBy(n => new { n.thang, n.nam }).Distinct().OrderBy(k => k.Key.nam).ThenBy(k => k.Key.thang))
            {
                <th>Value @(z.Key.thang + "/" + z.Key.nam)</th>
            }
            <th>Ngày kết thúc thầu</th>
        </tr>
    </thead>
    <tbody id="tablebody">
        @foreach (var i in Model)
        {
            <tr class="tr-data">
                <td>@i.mahh</td>
                <td>@i.nguoitao</td>
                @foreach (var z in Model.Select(n => new { n.thang, n.nam }).Distinct().OrderBy(n => n.nam).ThenBy(n => n.thang))
                {
                    <td> @string.Format("{0:0}", i.soluong)</td>
                }
                @foreach (var z in Model.Select(n => new { n.thang, n.nam }).Distinct().OrderBy(n => n.nam).ThenBy(n => n.thang))
                {
                    <td> @string.Format("{0:0}", i.soluong)</td>
                }
                <td>@i.ngayketthucthau</td>
            </tr>
        }
    </tbody>
</table>


