@model IEnumerable<ApplicationChart.Models.ListKhachHang>
@{
    ViewBag.Title = "Danh mục khách hàng";
    Layout = "~/Views/Shared/Layout1.cshtml";
}
@section styles {
    <link href="~/Content/Datatable.css?version=8" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css" />
    <link rel="stylesheet" href="~/Content/OrderStyle.css?version=42">
    @*<link href="~/Content/bootstrap-select.css?version=1" rel="stylesheet">*@
}
<div id="heightscreen">
    <div class="w3-card w3-white" style="border-radius:0.25rem">
        <ol class="breadcrumb" style="margin-top:42px;margin-bottom:0px;">
            <li class="breadcrumb-item"><a style="color:#007bff;font-weight:700" href="#">CRM</a></li>
            <li class="breadcrumb-item active w3-text-black font-weight-normal">DANH MỤC KHÁCH HÀNG</li>
        </ol>
    </div>
    <div class="w3-content w3-padding box p-0 pt-1" style="background-color:white;margin-top:3px;">

        <div class="w3-row card">
            <div class="card-header text-center">
                <strong>DANH SÁCH KHÁCH HÀNG</strong>
            </div>
            <div class="card-body p-1">
                <div style="width:200px">
                    <button id="btntao" data-toggle="modal" data-backdrop="static" data-target="#ModalTao" class="btn abc btn-success btn-sm transition-3d-hover m-0"><i style="padding-right:10px;" class="fa fa-plus" aria-hidden="true"></i>Tạo KH mới</button>
                </div>
                <table id="example23" class="display nowrap table table-hover table-bordered">
                    <thead style="background-color:rgb(66, 133, 244);">
                        <tr class="text-white">
                            <th style="width:50px;">#</th>
                            <th>Mã KH</th>
                            <th>Tên khách hàng</th>
                            <th>Địa chỉ</th>
                            <th>ĐT liên hệ</th>
                            <th>Mã nhà phân phối</th>
                            <th style="width:110px;">Hành động</th>
                        </tr>
                    </thead>
                    <tbody id="khachhang">
                    </tbody>
                </table>
            </div>

        </div>

    </div>
</div>
<div class="modal fade" id="ModalEdit" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered fadeInDown scrollable-auto-y" style="max-width:1024px" role="document">
        <div class="modal-content">
            <div class="modal-header p-2">
                <h6 class="modal-title font-weight-bold p-2">THAY ĐỔI THÔNG TIN KHÁCH HÀNG</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="font-weight-bold" for="donviedit">Mã KH</label>
                                <input readonly autocomplete="off" type="text" class="form-control" id="donviedit" placeholder="Tên khách hàng">
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="font-weight-bold" for="tenedit">Tên khách hàng</label>
                                <input autocomplete="off" type="text" class="form-control" id="tenedit" placeholder="Tên khách hàng">
                            </div>
                        </div>
                        <div class="form-group col-sm-12 col-md-6">
                            <label for="CNedit">Nhà phân phối<span style="color:red">*</span></label>
                            <select class="form-control" id="CNedit">
                            </select>
                        </div>
                        <div class="form-group col-sm-12 col-md-6">
                            <label for="diachiedit">Địa chỉ</label>
                            <input autocomplete="off" type="text" class="form-control" id="diachiedit">
                        </div>
                        <div class="form-group col-sm-12 col-md-6">
                            <label for="lienheedit">Người liên hệ</label>
                            <input autocomplete="off" type="text" class="form-control" id="lienheedit">
                        </div>
                        <div class="form-group col-sm-12 col-md-6">
                            <label for="thueedit">Mã số thuế</label>
                            <input autocomplete="off" type="text" class="form-control" id="thueedit">
                        </div>
                        <div class="form-group col-sm-12 col-md-6">
                            <label for="dienthoaiedit">Số điện thoại</label>
                            <input autocomplete="off" type="text" class="form-control" id="dienthoaiedit">
                        </div>
                        <div class="form-group col-sm-12 col-md-6">
                            <label for="tinhedit">Tỉnh</label>
                            <select class="form-control" id="tinhedit">
                            </select>
                        </div>
                        <div class="form-group col-sm-12 col-md-6">
                            <label for="quanedit">Quận/Huyện</label>
                            <select class="form-control" id="quanedit">
                            </select>
                        </div>
                        <div class="form-group col-sm-12 col-md-6">
                            <label for="xeploaiedit">Xếp loại</label>
                            <select class="form-control" id="xeploaiedit">
                                <option value="A">A</option>
                                <option value="B">B</option>
                                <option value="C">C</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="btnedit" type="button" class="btn btn-primary btn-sm transition-3d-hover mb-0">Thay đổi</button>
                <button type="button" class="btn btn-danger btn-sm transition-3d-hover" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="ModalView" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered fadeInDown scrollable-auto-y" style="max-width:1024px" role="document">
        <div class="modal-content">
            <div class="modal-header p-2">
                <h6 class="modal-title font-weight-bold p-2">THÔNG TIN KHÁCH HÀNG</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="form-group col-sm-12 col-md-6">
                            <label for="view1">Mã khách hàng</label>
                            <input disabled autocomplete="off" type="text" class="form-control" id="view1">
                        </div>
                        <div class="form-group col-sm-12 col-md-6">
                            <label for="view2">Tên khách hàng</label>
                            <input disabled autocomplete="off" type="text" class="form-control" id="view2">
                        </div>
                        <div class="form-group col-sm-12 col-md-6">
                            <label for="viewCN">Nhà phân phối<span style="color:red">*</span></label>
                            <select class="form-control" id="viewCN" disabled>
                            </select>
                        </div>
                        <div class="form-group col-sm-12 col-md-6">
                            <label for="view3">Địa chỉ</label>
                            <input disabled autocomplete="off" type="text" class="form-control" id="view3">
                        </div>
                        <div class="form-group col-sm-12 col-md-6">
                            <label for="view5">Người liên hệ</label>
                            <input disabled autocomplete="off" type="text" class="form-control" id="view5">
                        </div>
                        <div class="form-group col-sm-12 col-md-6">
                            <label for="view7">Mã số thuế</label>
                            <input disabled autocomplete="off" type="text" class="form-control" id="view7">
                        </div>
                        <div class="form-group col-sm-12 col-md-6">
                            <label for="view4">Số điện thoại</label>
                            <input disabled autocomplete="off" type="text" class="form-control" id="view4">
                        </div>
                        <div class="form-group col-sm-12 col-md-6">
                            <label for="viewtinh">Tỉnh</label>
                            <select class="form-control" id="viewtinh" disabled>
                            </select>
                        </div>
                        <div class="form-group col-sm-12 col-md-6">
                            <label for="viewquan">Quận/Huyện</label>
                            <select class="form-control" id="viewquan" disabled>
                            </select>
                        </div>
                        <div class="form-group col-sm-12 col-md-6">
                            <label for="view6">Đơn hàng gần nhất</label>
                            <input disabled autocomplete="off" type="text" class="form-control" id="view6">
                        </div>
                        <div class="form-group col-sm-12 col-md-6">
                            <label for="view8">Xếp loại</label>
                            <input disabled autocomplete="off" type="text" class="form-control" id="view8">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger btn-sm transition-3d-hover" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="ModalTao" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered fadeInDown scrollable-auto-y" style="max-width:1024px" role="document">
        <div class="modal-content">
            <div class="modal-header p-2">
                <h6 class="modal-title font-weight-bold p-2">TẠO KHÁCH HÀNG MỚI</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="form-group col-sm-12 col-md-6">
                            <label for="KH2">Tên khách hàng <span style="color:red">*</span></label>
                            <input autocomplete="off" type="text" class="form-control" id="KH2">
                        </div>

                        <div class="form-group col-sm-12 col-md-6">
                            <label for="KHCN">Nhà phân phối<span style="color:red">*</span></label>
                            <select class="form-control" id="KHCN">
                            </select>
                        </div>
                        <div class="form-group col-sm-12 col-md-6">
                            <label for="KH3">Địa chỉ <span style="color:red">*</span></label>
                            <input autocomplete="off" type="text" class="form-control" id="KH3">
                        </div>
                        <div class="form-group col-sm-12 col-md-6">
                            <label for="KH4">Người liên hệ</label>
                            <input autocomplete="off" type="text" class="form-control" id="KH4">
                        </div>
                        <div class="form-group col-sm-12 col-md-6">
                            <label for="KH5">Số điện thoại</label>
                            <input autocomplete="off" type="text" class="form-control" id="KH5">
                        </div>
                        <div class="form-group col-sm-12 col-md-6">
                            <label for="KH7">Tỉnh</label>
                            <select class="form-control" id="KH7">
                            </select>
                        </div>
                        <div class="form-group col-sm-12 col-md-6">
                            <label for="KHquan">Quận/Huyện</label>
                            <select class="form-control" id="KHquan">
                            </select>
                        </div>
                        <div class="form-group col-sm-12 col-md-6">
                            <label for="KHthue">Mã số thuế</label>
                            <input autocomplete="off" type="text" class="form-control" id="KHthue">
                        </div>
                        <div class="form-group col-sm-12 col-md-6">
                            <label for="KH6">Xếp loại</label>
                            <select class="form-control" id="KH6">
                                <option value="A">A</option>
                                <option value="B">B</option>
                                <option value="C">C</option>
                            </select>
                        </div>

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success btn-sm transition-3d-hover saveKH">Lưu lại</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="ModalChange" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered fadeInDown scrollable-auto-y" style="max-width:1024px" role="document">
        <div class="modal-content">
            <div class="modal-header p-2">
                <h6 class="modal-title font-weight-bold p-2">THAY ĐỔI MÃ KHÁCH HÀNG</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="form-group col-sm-12 col-md-6">
                            <label for="fromKH">Từ mã khách hàng <span style="color:red">*</span></label>
                            <input autocomplete="off" type="text" class="form-control" id="fromKH" disabled>
                        </div>

                        <div class="form-group col-sm-12 col-md-6">
                            <label for="toKH">Sang mã khách hàng<span style="color:red">*</span></label>
                            <input autocomplete="off" type="text" class="form-control" id="toKH">
                        </div>

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success btn-sm transition-3d-hover changeMAKH">Lưu lại</button>
            </div>
        </div>
    </div>
</div>
@section scripts {
    <script src="~/Scripts/moment.js"></script>

    <script src="~/Scripts/bootstrap-select.js?version=3"></script>
    <script src="~/Content/Order/js/lib/datatables/datatables.min.js?version=6"></script>
    <script src="~/Content/Order/js/lib/datatables/datatables-init.js?version=2"></script>
    <script>
        var quyen = '@ViewBag.quyen';
        quyen = quyen.split(",");
        function CovertDatetime(i) {
            var milli = i.replace(/\/Date\((-?\d+)\)\//, '$1');
            var d = new Date(parseInt(milli));
            var dformat = ("00" + d.getDate()).slice(-2) + "/" + ("00" + (d.getMonth() + 1)).slice(-2) + "/" + d.getFullYear();
            return dformat;   // The function returns the product of p1 and p2
        }
        $(document).ready(async function () {

            $("#btnedit").click(function () {
                if ($("#dtedit").val() == "" || $("#ngaysinhedit").val() == "" || $("#tenedit").val() == "") {
                    toastr.options = {
                        "closeButton": false,
                        "debug": false,
                        "newestOnTop": true,
                        "progressBar": true,
                        "positionClass": "toast-top-right",
                        "preventDuplicates": false,
                        "onclick": null,
                        "showDuration": "300",
                        "hideDuration": "1000",
                        "timeOut": "5000",
                        "extendedTimeOut": "1000",
                        "showEasing": "swing",
                        "hideEasing": "linear",
                        "showMethod": "fadeIn",
                        "hideMethod": "fadeOut"
                    }
                    Command: toastr["warning"]("Bạn chưa điền đủ thông tin khách hàng!", "Thông báo")
                }
                else {
                    $.confirm({
                        title: '<b>THÔNG BÁO</b>',
                        content: 'Bạn có chắc chắn muốn thay đổi thông tin khách hàng này?',
                        buttons: {
                            confirm: {
                                text: 'Chắc chắn',
                                btnClass: 'btn-success',
                                keys: ['enter'],
                                action: function () {
                                    $.ajax({
                                        type: "POST",
                                        url: "@Url.Action("EditKhachHang", "Baocao")",
                                        contentType: "application/json",
                                        datatype: 'json',
                                        data: '{makh: ' + JSON.stringify($("#donviedit").attr("data-makh"))
                                            + ', dt: ' + JSON.stringify($("#dienthoaiedit").val().replace(/_/g, ""))
                                            + ', xeploai: ' + JSON.stringify($("#xeploaiedit").val())
                                            + ', matinh: ' + JSON.stringify($("#tinhedit").val())
                                            + ', quanhuyen: ' + JSON.stringify($("#quanedit").val())
                                            + ', lienhe: ' + JSON.stringify($("#lienheedit").val())
                                            + ', diachi: ' + JSON.stringify($("#diachiedit").val())
                                            + ', tenkh: ' + JSON.stringify($("#tenedit").val())
                                            + ', macn: ' + JSON.stringify($("#CNedit").val())
                                            + ', masothue: ' + JSON.stringify($("#thueedit").val()) + '}',
                                        error: function () {
                                            toastr.options = {
                                                "closeButton": true,
                                                "debug": false,
                                                "newestOnTop": true,
                                                "progressBar": true,
                                                "positionClass": "toast-top-right",
                                                "preventDuplicates": false,
                                                "onclick": null,
                                                "showDuration": "300",
                                                "hideDuration": "1000",
                                                "timeOut": "5000",
                                                "extendedTimeOut": "1000",
                                                "showEasing": "swing",
                                                "hideEasing": "linear",
                                                "showMethod": "fadeIn",
                                                "hideMethod": "fadeOut"
                                            }
                                            Command: toastr["warning"]("Vui lòng thử lại", "Lỗi")
                                        },
                                        success: function (data) {
                                            toastr.options = {
                                                "closeButton": true,
                                                "debug": false,
                                                "newestOnTop": true,
                                                "progressBar": true,
                                                "positionClass": "toast-top-right",
                                                "preventDuplicates": false,
                                                "onclick": null,
                                                "showDuration": "300",
                                                "hideDuration": "1000",
                                                "timeOut": "5000",
                                                "extendedTimeOut": "1000",
                                                "showEasing": "swing",
                                                "hideEasing": "linear",
                                                "showMethod": "fadeIn",
                                                "hideMethod": "fadeOut"
                                            }
                                            Command: toastr["success"]("Thay đổi thành công !", "THÔNG BÁO")
                                            $('#ModalEdit').modal('hide')
                                            location.reload();
                                        },
                                        timeout: 5000,
                                    });
                                }
                            },
                            cancel: {
                                text: 'Hủy',
                                btnClass: 'btn-danger',
                                keys: ['esc'],
                                action: function () {

                                }
                            }
                        }
                    });
                }
            });

            $(document).on("click", ".saveKH", function () {
                $('#loading').modal({ backdrop: 'static', keyboard: false });
                if (!$("#KH2").val() || !$("#KH3").val() || !$("#KHCN").val()) {
                    toastr.options = {
                        "closeButton": false,
                        "debug": false,
                        "newestOnTop": true,
                        "progressBar": true,
                        "positionClass": "toast-top-right",
                        "preventDuplicates": false,
                        "onclick": null,
                        "showDuration": "300",
                        "hideDuration": "1000",
                        "timeOut": "5000",
                        "extendedTimeOut": "1000",
                        "showEasing": "swing",
                        "hideEasing": "linear",
                        "showMethod": "fadeIn",
                        "hideMethod": "fadeOut"
                    }
                    Command: toastr["warning"]("Bạn chưa điền đủ thông tin khách hàng!", "Thông báo")
                } else {
                    $.ajax({
                        type: "POST",
                        url: "@Url.Action("SaveKH", "Baocao")",
                        datatype: 'json',
                        contentType: "application/json",
                        data: '{tenkh: ' + JSON.stringify($("#KH2").val()) + ', diachi: ' + JSON.stringify($("#KH3").val()) + ', nguoilienhe: ' + JSON.stringify($("#KH4").val()) + ', dienthoai: ' + JSON.stringify($("#KH5").val()) + ', xeploai: ' + JSON.stringify($("#KH6").val()) + ', matinh: ' + JSON.stringify($("#KH7").val()) + ', maquan: ' + JSON.stringify($("#KHquan").val()) + ', masothue: ' + JSON.stringify($("#KHthue").val()) + ', macn: ' + JSON.stringify($("#KHCN").val()) + '}',
                        error: function () {
                            $('#loading').modal('hide')
                            toastr.options = {
                                "closeButton": true,
                                "debug": false,
                                "newestOnTop": true,
                                "progressBar": true,
                                "positionClass": "toast-top-right",
                                "preventDuplicates": false,
                                "onclick": null,
                                "showDuration": "300",
                                "hideDuration": "1000",
                                "timeOut": "5000",
                                "extendedTimeOut": "1000",
                                "showEasing": "swing",
                                "hideEasing": "linear",
                                "showMethod": "fadeIn",
                                "hideMethod": "fadeOut"
                            }
                            Command: toastr["warning"]("Vui lòng thử lại", "Lỗi")
                        },
                        success: function (data) {
                            $('#loading').modal('hide');
                            $('#ModalTao').modal('hide');
                            location.reload();
                        },
                        timeout: 5000,
                    });
                }
            });
            $(document).on("click", ".changeMAKH", function () {
                $('#loading').modal({ backdrop: 'static', keyboard: false });
                if (!$("#fromKH").val() || !$("#toKH").val()) {
                    toastr.options = {
                        "closeButton": false,
                        "debug": false,
                        "newestOnTop": true,
                        "progressBar": true,
                        "positionClass": "toast-top-right",
                        "preventDuplicates": false,
                        "onclick": null,
                        "showDuration": "300",
                        "hideDuration": "1000",
                        "timeOut": "5000",
                        "extendedTimeOut": "1000",
                        "showEasing": "swing",
                        "hideEasing": "linear",
                        "showMethod": "fadeIn",
                        "hideMethod": "fadeOut"
                    }
                    Command: toastr["warning"]("Bạn chưa điền đủ thông tin!", "Thông báo")
                } else {
                    $.ajax({
                        type: "POST",
                        url: "@Url.Action("changeMAKH", "Baocao")",
                        datatype: 'json',
                        contentType: "application/json",
                        data: '{fromKH: ' + JSON.stringify($("#fromKH").val()) + ', toKH: ' + JSON.stringify($("#toKH").val()) + '}',
                        error: function () {
                            $('#loading').modal('hide')
                            toastr.options = {
                                "closeButton": true,
                                "debug": false,
                                "newestOnTop": true,
                                "progressBar": true,
                                "positionClass": "toast-top-right",
                                "preventDuplicates": false,
                                "onclick": null,
                                "showDuration": "300",
                                "hideDuration": "1000",
                                "timeOut": "5000",
                                "extendedTimeOut": "1000",
                                "showEasing": "swing",
                                "hideEasing": "linear",
                                "showMethod": "fadeIn",
                                "hideMethod": "fadeOut"
                            }
                            Command: toastr["warning"]("Vui lòng thử lại", "Lỗi")
                        },
                        success: function (data) {
                            $('#loading').modal('hide');
                            $('#ModalChange').modal('hide');
                            location.reload();
                        },
                        timeout: 5000,
                    });
                }
            });
            $(document).on("click", ".btntao", function () {

            });
            $(document).on("click", ".btndoikh", function () {
                var tr = $(this).closest("tr");
                var id = tr.data("id");
                $("#fromKH").val(id);
            });
            $(document).on("click", ".btnxoakh", function () {
                var tr = $(this).closest("tr");
                var id = tr.data("id");
                $.confirm({
                    title: '<b>Xác nhận</b>',
                    content: 'Bạn có muốn xóa khách hàng này?',
                    buttons: {
                        confirm: {
                            text: 'Xác nhận',
                            btnClass: 'btn-success',
                            keys: ['enter'],
                            action: function () {
                                $('#loading').modal('show')
                               $.ajax({
                                    type: "POST",
                                    url: "@Url.Action("xoaMAKH", "Baocao")",
                                    datatype: 'json',
                                    contentType: "application/json",
                                   data: '{makh: ' + JSON.stringify(id) + '}',
                                    error: function () {
                                        $('#loading').modal('hide')
                                        toastr.options = {
                                            "closeButton": true,
                                            "debug": false,
                                            "newestOnTop": true,
                                            "progressBar": true,
                                            "positionClass": "toast-top-right",
                                            "preventDuplicates": false,
                                            "onclick": null,
                                            "showDuration": "300",
                                            "hideDuration": "1000",
                                            "timeOut": "5000",
                                            "extendedTimeOut": "1000",
                                            "showEasing": "swing",
                                            "hideEasing": "linear",
                                            "showMethod": "fadeIn",
                                            "hideMethod": "fadeOut"
                                        }
                                        Command: toastr["warning"]("Vui lòng thử lại", "Lỗi")
                                    },
                                    success: function (data) {
                                        location.reload();
                                    },
                                    timeout: 5000,
                               });
                            }
                        },
                        cancel: {
                            text: 'Hủy',
                            btnClass: 'btn-danger',
                            keys: ['esc'],
                            action: function () {

                            }
                        }
                    }
                });
            });

            $(document).on("change", "#KH7", async function () {
                var matinh = $(this).val();
                var list = await getQuan(matinh);
                var html = "";
                for (var d of list) {
                    html += "<option value='" + d.maquan + "'>" + d.tenquan + "</option>";
                }
                $("#KHquan").html(html)
            });
            $(document).on("change", "#tinhedit", async function () {
                var matinh = $(this).val();
                var list = await getQuan(matinh);
                var html = "";
                for (var d of list) {
                    html += "<option value='" + d.maquan + "'>" + d.tenquan + "</option>";
                }
                $("#quanedit").html(html)
            });
            $("#example23").on("click", ".btnview", function () {
                var makh = $(this).closest('tr').find('td:eq(0)').text();
                var url = '@Url.Action("GetKhachHang", "Baocao")';
                $.post(url, { makh: makh },
                              async function (data) {
                                  $("#view1").val(data.MAKH);
                                  $("#view2").val(data.DONVI);
                                  $("#view3").val(data.DIACHI);
                                  $("#view4").val(data.DT);
                                  $("#view5").val(data.TENNGUOILH);
                                  $("#view7").val(data.MST);
                                  $("#viewCN").val(data.macn);

                                  $("#view8").val(data.xeploai);
                                  $("#viewtinh").val(data.matinh);
                                  var list = await getQuan(data.matinh);
                                  var html = "";
                                  for (var d of list) {
                                      html += "<option value='" + d.maquan + "'>" + d.tenquan + "</option>";
                                  }
                                  $("#viewquan").html(html);
                                  $("#viewquan").val(data.quanhuyen);
                                  //console.log(data);
                                  if (data.DONHANGGANHAT != "/Date(-62135596800000)/") {
                                      $("#view6").val(data.DONHANGGANHAT);
                                  }
                                  else {
                                      $("#view6").val("N/A");
                                  }

                              });
            });
            $("#example23").on("click", ".btnsuakh", function () {
                var hang = $(this).closest('tr').find("td:eq(0)").text();
                var url = '@Url.Action("GetKhachHang", "Baocao")';
                $.post(url, { makh: hang },
                    async function (data) {
                        $("#donviedit").val(data.MAKH + " - " + data.DONVI);
                        $("#donviedit").attr("data-makh", data.MAKH);
                        $("#dienthoaiedit").val(data.DT);
                        $("#xeploaiedit").val(data.xeploai);
                        $("#tinhedit").val(data.matinh);
                        $("#diachiedit").val(data.DIACHI);
                        $("#tenedit").val(data.DONVI);
                        $("#CNedit").val(data.macn);
                        $("#lienheedit").val(data.TENNGUOILH);
                        $("#thueedit").val(data.MST);

                        var list = await getQuan(data.matinh);
                        var html = "";
                        for (var d of list) {
                            html += "<option value='" + d.maquan + "'>" + d.tenquan + "</option>";
                        }
                        $("#quanedit").html(html);
                        $("#quanedit").val(data.quanhuyen);

                    });
            });

            $('#loading').modal({ backdrop: 'static', keyboard: false });
            await getKhachhang();
            getNhaPhanPhoi();
            getKhuvuc();

            $('#loading').modal('hide');
        });
        async function getKhachhang() {
            var url2 = '@Url.Action("GetKhachHang", "Home")';
            return $.post(url2, {},
                function (data) {
                    $("#khachhang").empty();
                    var html = "";
                    //console.log(quyen);
                    for (var i = 0; i < data.length; i++) {
                        var append = `
                            <tr data-id="`+ data[i].MAKH + `">
                                <th scope="row" class="text-center">`+ (i + 1) + `</th>
                                <td class="text-center">`+ data[i].MAKH + `</td>
                                <td>`+ data[i].DONVI + `</td>
                                <td>`+ data[i].DIACHI + `</td>
                                <td>`+ data[i].DT + `</td>
                                <td class="text-center">`+ data[i].macn + `</td>
                                <td class="p-1 align-middle text-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-primary rounded-0 pl-2 pr-2" data-toggle="dropdown">
                                            <span class="fa fa-caret-down"></span>
                                        </button>
                                        <ul class="dropdown-menu text-left dropdown-menu-right">
                                            <li><a class="btnview" data-toggle="modal" data-backdrop="static" data-target="#ModalView">Thông tin chi tiết</a></li>`;
                        //if (data[i].tinhtrang == "Khách hàng mới" || quyen.indexOf("KHUYENMAI") != -1) {
                        //    append += `
                        //                    <li><a class="btnsuakh" data-toggle="modal" data-backdrop="static" data-target="#ModalEdit">Thay đổi thông tin</a></li>
                        //                    <li><a class="btndoikh" data-toggle="modal" data-backdrop="static" data-target="#ModalChange">Đổi mã</a></li>`;
                        //}
                        if (data[i].tinhtrang == "Khách hàng mới") {
                            append += `  <li><a class="btnsuakh" data-toggle="modal" data-backdrop="static" data-target="#ModalEdit">Thay đổi thông tin</a></li>
                                            <li><a class="btnxoakh">Xóa</a></li>`;
                        }
                        append +=`
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                                `
                        html += append;
                        //console.log(html);
                    }

                    var table = $('#example23').DataTable();
                    table.destroy();
                    $("#khachhang").html(html);
                    table = $("#example23").dataTable();
                    //table.destroy();
                    //table.clear().draw();
                    //table.ajax.reload();
                });
        }
        function getKhuvuc() {
            var url2 = '@Url.Action("GetKhuvuc", "Home")';
            $.post(url2, {},
                function (data) {
                    $("#KH7").empty();
                    $("#viewtinh").empty();
                    $("#tinhedit").empty();
                    for (var i = 0; i < data.length; i++) {
                        $("#KH7").append('<option value="' + data[i].matinh + '">' + data[i].tentinh + '</option>');
                        $("#viewtinh").append('<option value="' + data[i].matinh + '">' + data[i].tentinh + '</option>');
                        $("#tinhedit").append('<option value="' + data[i].matinh + '">' + data[i].tentinh + '</option>');
                    }
                    $("#KH7").trigger("change");
                    $("#viewtinh").trigger("change");
                    $("#tinhedit").trigger("change");
                });
        }
        function getNhaPhanPhoi() {
             var url2 = '@Url.Action("getNhaPhanPhoi", "Home")';
             $.post(url2, {},
                 function (data) {
                     $("#CNedit").empty();
                     $("#viewCN").empty();
                     $("#KHCN").empty();
                     for (var i = 0; i < data.length; i++) {
                         $("#CNedit").append('<option value="' + data[i].macn + '">' + data[i].macn + " - " + data[i].tencn + '</option>');
                         $("#viewCN").append('<option value="' + data[i].macn + '">' + data[i].macn + " - " + data[i].tencn + '</option>');
                         $("#KHCN").append('<option value="' + data[i].macn + '">' + data[i].macn + " - " + data[i].tencn + '</option>');
                     }
                 });
         }
        async function getQuan(matinh) {
             return  await $.ajax({
                type: "POST",
                url: "@Url.Action("GetQuan", "Home")",
                contentType: "application/json",
                datatype: 'json',
                  data: '{matinh: ' + JSON.stringify(matinh) + '}',
                error: function () {
                    toastr.options = {
                        "closeButton": true,
                        "debug": false,
                        "newestOnTop": true,
                        "progressBar": true,
                        "positionClass": "toast-top-right",
                        "preventDuplicates": false,
                        "onclick": null,
                        "showDuration": "300",
                        "hideDuration": "1000",
                        "timeOut": "5000",
                        "extendedTimeOut": "1000",
                        "showEasing": "swing",
                        "hideEasing": "linear",
                        "showMethod": "fadeIn",
                        "hideMethod": "fadeOut"
                    }
                    Command: toastr["warning"]("Vui lòng thử lại", "Lỗi")
                },
                  success: function (data) {

                },
                timeout: 5000,
            });
        }
    </script>
}